@* QuestionId and TopicId passed into ShowDetails page*@
@* display the background color from TopicId, display Topic, Question, correct answer [at top of page] and explanation [at bottom of page]*@
@* have button to return to dashboard*@
@* note:: upon return to dashboard, the question value button should now be a picture*@

@{
    var BGtxtColor = "text-dark";
    if (ViewBag.Topic.BGColor == "mediumblue" || ViewBag.Topic.BGColor == "orangered")
    {
        BGtxtColor = "text-light";
    }

    var DivtxtColor = "text-dark";
    if (ViewBag.Topic.DivColor == "mediumblue" || ViewBag.Topic.DivColor == "orangered")
    {
        DivtxtColor = "text-light";
    }
}

<div class="displayDiv vertEvnSpc @BGtxtColor" style="background-color:@ViewBag.Topic.BGColor">
    <div class="topicDiv">
        <h4 class="marginTxtDiv">@ViewBag.Topic.TopicName : @ViewBag.Question.PointValue</h4>
    </div>
    <h2>@ViewBag.Question.FullQuestion</h2>
    <div style="background-color:@ViewBag.Topic.DivColor" class="smldisplayDiv @DivtxtColor">
        <p>@ViewBag.Question.Explanation</p>
        <br />
    </div>
    <br />
    <a class="btn btn-light vlilbtnwidth" asp-controller="Home" asp-action="Dashboard">Return to Dashboard</a>
</div>